@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

body {
    margin-left: 8vw;
    margin-right: 8vw;
    background: #f3ecff;
    background-image: url("https://img.freepik.com/vetores-gratis/textura-de-papel-branco-artesanal_125540-947.jpg?w=740&t=st=1680132682~exp=1680133282~hmac=1b3964195edf53cfadff2e53f48d4b39e40747e5dc9fc9322d231bd3540f9a11");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

* {
    font-family: "Fira Sans", sans-serif;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:link {
    color: black;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

nav ul a::after {
    content: "";
    background-color: black;
    height: 2px;
    width: 0%;
    display: block;
    transition: 0.3s;
    margin: 0 auto;
}

nav ul a:hover::after {
    width: 100%;
}

#nav-lista {
    list-style: none;
    display: flex;
}

#nav-lista li {
    letter-spacing: 3px;
    margin-left: 32px;
}

hr {
    height: 2px;
    background-color: black;
}

iframe {
    margin: auto;
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 2%;
}
