@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body {
    margin-left: 8vw;
    margin-right: 8vw;
    background: #f3ecff;
    background-image: url("https://img.freepik.com/vetores-gratis/textura-de-papel-branco-artesanal_125540-947.jpg?w=740&t=st=1680132682~exp=1680133282~hmac=1b3964195edf53cfadff2e53f48d4b39e40747e5dc9fc9322d231bd3540f9a11");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

* {
    font-family: 'Fira Sans', sans-serif;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    opacity: 0.7;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

#nav-lista {
    list-style: none;
    display: flex;
}

#nav-lista li {
    letter-spacing: 3px;
    margin-left: 32px;
}

#foto{
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
}

h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0.6rem;
}

#links img {
    width: 35px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
}

#email {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

#email img {
    margin-right: 10px;
    margin-left: 30px;
}

#zap {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#zap img {
    margin-right: 10px;
    margin-left: 30px;
}

#localizacao img{
    width: 15px;
}

#apresentacao{
    text-align: center;
}

#sobreMim {
    text-align: justify;
}

h2 {
    display: inline-block;
    vertical-align: middle;
}

#hr1 {
    display: inline-block;
    width: 996px; /* Defina a largura da barra horizontal conforme necessário */
    height: 1px;
    background-color: black;
    margin-left: 10px; /* Defina a margem esquerda conforme necessário */
    margin-right: 0px; /* Defina a margem direita conforme necessário */
    vertical-align: middle;
}

#hr2 {
    display: inline-block;
    width: 966px; /* Defina a largura da barra horizontal conforme necessário */
    height: 1px;
    background-color: black;
    margin-left: 10px; /* Defina a margem esquerda conforme necessário */
    margin-right: 0px; /* Defina a margem direita conforme necessário */
    vertical-align: middle;
}

hr {
    height: 1px;
    background-color: black;
}